* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #220045;
  font-size: 26px;
  color: white;
}

.title {
   color: white;
   padding: 32px 0;
   text-align: center;
}

.configIcon {
  display: flex;
  justify-content: center;
  font-size: 64px;
  cursor: pointer;
}
